<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>UI</ion-title>
    <ion-buttons slot="end">
      <ion-button>don't clic</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button>Start</ion-button>
      <ion-button>Start bis</ion-button>
    </ion-buttons> 
    <ion-buttons slot="end">
      <ion-button>End</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="big ion-padding">
    
    <ion-button expand="block" class="ion-margin-bottom">
      <ion-icon slot="start" name="star"></ion-icon>
      Block button
    </ion-button>
    
    <ion-button expand="full" class="ion-margin-bottom">
      <ion-icon slot="end" name="telescope-outline"></ion-icon>
      Full button
    </ion-button>

    <ion-button expand="full" fill="solid" class="ion-margin-bottom">
      <ion-icon slot="start" name="thumbs-up-outline"></ion-icon>
      Full solide
    </ion-button>

    
    <ion-button expand="full" class="ion-margin-bottom">
      <ion-icon slot="icon-only" name="telescope-outline"></ion-icon>
    </ion-button>

    <ion-button expand="block" fill="outline" class="ion-margin-bottom">
      <ion-icon slot="start" name="thumbs-down-outline"></ion-icon>
      Block outline
    </ion-button>

    <ion-button expand="block" fill="clear" class="ion-margin-bottom">
      <ion-icon slot="end" name="paw-outline"></ion-icon>
      Clear button
    </ion-button>

    <div> 
      <ion-button color="success">Youhou !</ion-button>
      <ion-button color="warning">Attention</ion-button>
      <ion-button color="danger">Oh no !</ion-button> 
    </div>

    <div> 
      <ion-button size="large" color="medium">Large</ion-button>
      <ion-button color="light">Default</ion-button>
      <ion-button size="small" color="dark">Small</ion-button>
    </div>

    <ion-button shape="round" color="medium">
      <ion-icon name="star"></ion-icon>
    </ion-button> 

  </div>
</ion-content> 